 /*                KEY POSITIONS
  ╭────────────────────────╮ ╭────────────────────────╮
  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 | | 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │ | 30  31  32  33  34  35 |
  ╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
              ╰────────────╯ ╰────────────╯         */

//pseudo-mod-keys
#define SPL_KEY 38
#define SPR_KEY 39
#define NAV_KEY 45

//timing
#define FAST_TAP 60
#define FAST_IDLE 180
#define SLOW_TAP 60
#define SLOW_IDLE 180


//make combo
#define COMBO(NAME, BINDINGS, KEYPOS, TAP, IDLE) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <DEF>; \
    timeout-ms = <TAP>; \
    require-prior-idle-ms = <IDLE>; \
    slow-release; \
  };

/ {   
    combos {
        compatible = "zmk,combos";

        /*              left hand symbols
          ╭────────────────────────╮ ╭────────────────────────╮
          │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
          │ 12  13  14  15  16  17 | | 18  19  20  21  22  23 │
          │ 24  25  26  27  28  29 │ | 30  31  32  33  34  35 |
          ╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
                      ╰────────────╯ ╰────────────╯         */
        COMBO(l_grave, &clh SPL GRAVE, SPL_KEY 1, SLOW_TAP, SLOW_IDLE)
    };
};
